# Intro

To find a list of FRBs that are within RA and DEC range.

After FRBs are found, you can check more carefully co-visibility at:  
- Parks   : https://www.parkes.atnf.csiro.au/observing/utilities/coord.php  
- General : http://catserver.ing.iac.es/staralt/index.php

# Set Conditions

In [2]:
RAmax,RAmin     = ['04:30:00','01:30:00']
DECmax,DECmin   = ['-10:00:00','-90:00:00']

# FRBcat file
f='/Users/jielaizhang/Swinburne University/MMA - General/'\
  'DWF/2020_ObservingPrep/Scheduling/frbcat_20200806.csv'

# Run Code Below

In [3]:
import astropy.io.ascii as ascii
import pandas as pd
# Jielai's modules
from misc.radec import hms2deg, dms2deg

In [4]:
def degify_radec(frbcat):
    ra_col  = hms2deg(frbcat['rop_raj'])
    dec_col = dms2deg(frbcat['rop_decj'])
    frbcat_radecdeg = frbcat
    frbcat_radecdeg['rop_raj_deg']  = ra_col
    frbcat_radecdeg['rop_decj_deg'] = dec_col
    return frbcat_radecdeg

In [5]:
frbcat = d=pd.read_csv(f)

In [6]:
[RAmax_deg,RAmin_deg]    = hms2deg([RAmax,RAmin])
[DECmax_deg,DECmin_deg]  = dms2deg([DECmax,DECmin])
frbcat_radecdeg = degify_radec(frbcat)

In [7]:
frb_RADECright = frbcat_radecdeg[(frbcat_radecdeg['rop_raj_deg']>RAmin_deg) & 
                                 (frbcat_radecdeg['rop_raj_deg']<RAmax_deg) &
                                 (frbcat_radecdeg['rop_decj_deg']>DECmin_deg) &
                                 (frbcat_radecdeg['rop_decj_deg']<DECmax_deg)
                                ]

# The Output you wanted:

In [10]:
print('RAmax: ',RAmax,'\nRAmin: ',RAmin,'\nDECmax: ',DECmax,'\nDECmin: ', DECmin)
frb_RADECright

RAmax:  04:30:00
RAmin:  01:30:00
DECmax:  -10:00:00
DECmin:  -90:00:00

,frb_name,utc,telescope,rop_raj,rop_decj,rop_gl,rop_gb,rmp_dm,rmp_width,rmp_snr,rop_raj_deg,rop_decj_deg
97,FRB171213,2017/12/13 14:22:40.467,ASKAP,03:39,-10:56,198.800,-47.5000,158.6&plusmn0.2,1.50,25.1,54.750000,-10.933333
98,FRB171116,2017/11/16 14:59:33.305,ASKAP,03:31.0,-17:14,206.300,-51.9000,618.5&plusmn0.5,3.20,11.8,52.750000,-17.233333
99,FRB180119,2018/01/19 12:24:30.747,ASKAP,03:29.3,-12:44,199.500,-50.4000,402.7&plusmn0.7,2.70,15.9,52.325000,-12.733333
100,FRB171216,2017/12/16 17:59:10.822,ASKAP,03:28,-57:04,271.200,-49.3000,203.1&plusmn0.5,1.90,8.0,52.000000,-57.066667
101,FRB090625,2009/06/25 21:53:51.379,parkes,03:07:47,-29:55:36,226.444,-60.0303,899.55&plusmn0.01,1.92,30.0,46.945833,-29.926667
102,FRB170707,2017/07/07 06:17:34.354,ASKAP,02:59,-57:16,275.000,-52.4000,235.2&plusmn0.6,3.50,9.5,44.750000,-57.266667